<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Provas</title>
    <%- include('includes/bootstrap.ejs') %>
  </head>
  <body>
    <section class="container">
      <h1>Provas Cadastradas</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Disciplina</td>
            <td>Professor</td>
            <td>Data</td>
          </tr>
        </thead>
        <tbody>
          <% for (let prova of provas) { %>
          <tr>
            <td><%= prova.disciplina %></td>
            <td><%= prova.professor %></td>
            <td><%= prova.dataProva %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="row justify-content-end">
        <a class="btn btn-outline-primary" href="/provas/nova">Nova Prova</a>
      </div>
    </section>
    <%- include('includes/scripts.ejs') %>
  </body>
</html>
